---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

// @use "sass.math";

/* see base.scss */
$wrapper-break: 728px;

$min-font-size: $body-font-size * 1.2;
$max-font-size: $body-font-size * 2.2;

$base-padding: $body-font-size / 6;

.content-section-skills {
  div {
    text-align: center;

    @include media_min($wrapper-break) {
        //margin: 0 -3em;
    }

    .skill-item {
      display: inline-block;
      color: $white;
      background-color: $black;
      font-family: $mono-font;
      border-radius: 0.2em;
      line-height: 1em;
      margin: 0.05em 0.04em;
    }

    .weight-100 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 1;
      padding: $base-padding * 1;
    }

    .weight-90 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.9;
      padding: $base-padding * 0.9;
    }

    .weight-80 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.8;
      padding: $base-padding * 0.8;
    }

    .weight-70 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.7;
      padding: $base-padding * 0.7;
    }

    .weight-60 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.6;
      padding: $base-padding * 0.6;
    }

    .weight-50 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.5;
      padding: $base-padding * 0.5;
    }

    .weight-40 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.4;
      padding: $base-padding * 0.4;
    }

    .weight-30 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.3;
      padding: $base-padding * 0.3;
    }

    .weight-20 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.2;
      padding: $base-padding * 0.2;
    }

    .weight-10 {
      font-size: $min-font-size + ($max-font-size - $min-font-size) * 0.1;
      padding: $base-padding * 0.1;
    }
  }
}
